.DS_Store
target
build
bin
dist
classes
appengine-generated
.settings
*.classpath
*.project
*.class
*~
doc
*.bak
appengine-*.jar
asm-4.0.jar
datanucleus-*.jar
geronimo-*.jar
jdo2-*.jar
jdo-*.jar
jsr107cache-1.1.jar
jta-*.jar